#main {
       height:98vh;
       display: flex;
       align-items: center;
       text-align: center;
       flex-direction: column;
}
div {
	border: 1px solid black;
	width: 100%;
}
#question_holder {
	height: 20%;
}
#answer_to_questions {
	height: 40%;
	width: 70%;
}
#answers_options {
	height: 40%;
}
#navigation {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
}
